:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

.cartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--third-bg-color);
  padding: 2rem 2rem;
  width: 100%;
  position: relative;
}
.cartPage h2 {
  font-size: 2rem;
  background-color: var(--font-color);
  color: var(--third-bg-color);
  padding: 0 1rem;
  margin: 0;
  width: fit-content;

  position: fixed;
  transform: rotate(-90deg);
  top: 10.6rem;
  left: -5rem;
}

.cartContainer {
  display: grid;
  grid-template-areas:
    "img name remove"
    "img quantity price";
  column-gap: 1rem;
  border-bottom: 1px solid var(--font-color);
  align-items: center;
}

.cartContainer img {
  grid-area: img;
  grid-row: 1 / 3;
  width: 8rem;
}

.cartContainer h3 {
  font-size: 1rem;
  grid-area: name;
  max-width: 200px;
  font-variation-settings: "wght" 600;
}

.qtnBtn {
  font-size: 1.1rem;
  grid-area: quantity;
  height: max-content;
  justify-self: center;
  align-self: center;

  gap: 0.5rem;
  margin: 0;
  font-variation-settings: "wght" 300;
}

.cartContainer p {
  grid-area: price;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
}

.remove {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
  background-color: transparent;
  border: none;
  width: max-content;
  padding: 1rem;

  place-self: start end;
}

.checkOut {
  color: var(--main-bg-color);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--main-header-color);
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}

.checkoutContainer h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-variation-settings: "wght" 300;
}

.checkoutContainer .price {
  font-size: 2.2rem;
  margin: 0;
}

.checkoutContainer .disclaimer {
  margin: 0 0 1.5rem 0;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--font-color);
}

.checkOut:hover,
.remove:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .cartPage h2 {
    border: 0;
  }
  .title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  .remove {
    place-self: center end;
  }
  .cartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartPage h2 {
    position: static;
    transform: none;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid var(--font-color);
  }

  .title p:nth-child(1) {
    width: 128px;
  }

  .title p:nth-child(2) {
    width: 200px;
  }
  .title p:nth-child(4) {
    width: 86px;
  }
  .title p:nth-child(5) {
    width: 50px;
  }

  .cartContainer {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1000px) {
  .cartPage {
    padding: 4rem;
  }
}
