.productContainer {
  display: flex;
  overflow: scroll;
  gap: 1.5rem;
}

/* .product {
  width: max-content;
  border: 1px solid black;
}

.product img {
  width: 15rem;
}

.productInfo {
  display: flex;
  justify-content: space-between;
} */
