:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

.hotItemSection {
  margin: 3rem 1rem;
}

.hotItemSection h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-variation-settings: "wght" 700;
  margin: 0;
}
.productContainer {
  display: flex;
  overflow: scroll;
  gap: 1.5rem;
}

.hotItemSection button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  background-color: var(--third-bg-color);
  margin-top: 1.5rem;
}

.hotItemSection button:hover {
  cursor: pointer;
}

.h2Container {
  width: 100%;
  overflow: hidden;
}
.hotItemSection h2 {
  animation: RightToLeft 5s infinite linear;
  text-wrap: nowrap;
  word-spacing: 0.8rem;
}

@keyframes RightToLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}

@media screen and (min-width: 1000px) {
  .hotItemSection {
    margin: 3rem 4rem;
  }
}
/* .product {
  width: max-content;
  border: 1px solid black;
}

.product img {
  width: 15rem;
}

.productInfo {
  display: flex;
  justify-content: space-between;
} */
