:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

.productContainer {
  padding: 1rem;
  background-color: var(--second-bg-color);
}

.productContainer p {
  font-family: "totalblack-variable", sans-serif;
  font-variation-settings: "wght" 300;
}
.mainImg {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.smallImgContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.img {
  width: 100%;
  margin: 0 0 1rem 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  margin-top: 2rem;
}

.infoContainer h2 {
  font-size: 1.5rem;
  margin: 0;
  font-variation-settings: "wght" 600;
}

.infoContainer h3 {
  font-size: 2.5rem;
  margin: 1rem 0 0;
  font-variation-settings: "wght" 600;
}

.quantityContainer {
  display: flex;
  color: var(--font-color);
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0 1rem;
  border: 1px solid var(--font-color);
  width: 100%;
  font-variation-settings: "wght" 300;
  /* background-color: aliceblue; */
}

.quantityContainer div {
  font-size: 2rem;
}

.qtnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 2.5rem;
  padding: 0 1.5rem;
  width: 3rem;
  background-color: transparent;
  border: 0;
}

.infoContainer .add {
  font-size: 2rem;
  padding: 1rem 3rem;
  color: var(--font-color);
  background-color: var(--third-bg-color);
  border: none;
  width: 100%;
  margin-bottom: 2rem;
}

.shippingInfo {
  align-items: flex-end;
}

.deliveryContainer {
  display: grid;
  grid-template-columns: 1rem 2fr;
  grid-template-areas:
    "img img"
    "... div";
  /* gap: 1.5rem; */
  gap: 2rem;
  row-gap: 0;
  text-align: left;
  /* border: 1px solid rgb(216, 216, 216); */
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-top: 1rem;
  width: 100%;
  height: 8rem;

  /* padding-right: 5rem; */
  /* margin: 1rem 0; */
  /* margin-bottom: 1rem; */
}

.deliveryContainer div {
  display: flex;
  align-items: center;
  grid-area: img;
}

.deliveryContainer p {
  grid-area: div;
  margin-top: 0;
}

.deliveryContainer h4 {
  display: flex;
  align-items: center;
  margin: 0;
}

.deliveryContainer img {
  margin-right: 0.8rem;
}

.infoContainer .read {
  color: var(--font-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid;
  font-variation-settings: "wght" 300;
}

.icon {
  /* grid-area: img; */
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
}

.img:hover,
.read:hover,
.qtnBtn:hover,
.add:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .productContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;

    margin-top: 2rem;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100px; */
    height: fit-content;
  }

  .mainImg {
    flex: 1;
  }

  .img {
    margin: 0;
  }

  .infoContainer {
    margin: 0;
    justify-content: space-between;

    align-items: normal;
  }

  .infoContainer h2 {
    font-size: 3.5rem;
  }
  .infoContainer h3 {
    font-size: 3.5rem;
  }
  .shippingInfo p {
    margin: 0;
  }
}
