:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* margin: 0 1rem; */
  padding: 2rem;
  background-color: var(--second-bg-color);

  padding: 2rem 2rem;
  position: relative;
  padding-left: 2.5rem;
}

.productGallery h2 {
  background-color: var(--second-bg-color);
  /* text-align: left;
  font-size: 2rem;
  padding: 1rem;
  margin: 0; */

  font-size: 1.5rem;
  background-color: var(--font-color);
  color: var(--second-bg-color);
  padding: 0 1.5rem;
  margin: 0;
  width: fit-content;

  position: fixed;
  transform: rotate(-90deg);
  top: 12rem;
  left: -20%;

  z-index: 1;
}

.galleryProduct {
  padding: 0;
  /* padding: 1rem; */
  width: 100%;
}
.galleryProduct img {
  /* width: 5rem; */
  width: 100%;
}

.galleryContainer .productInfo {
  margin: 10rem;
}

.galleryContainer p {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .productGallery {
    position: relative;
  }
  .productGallery h2 {
    position: absolute;
    /* top: 5rem; */
    /* right: -1rem; */
    transform: translateY(2rem);
    transform: none;

    z-index: 2;
  }
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    margin-bottom: 0;
  }
}
