.twelfths h2 {
  top: 9.7rem;
  left: -16%;
}
@media screen and (min-width: 400px) {
  .twelfths h2 {
    left: -14%;
  }
}
@media screen and (min-width: 500px) {
  .twelfths h2 {
    left: -12%;
  }
}
@media screen and (min-width: 600px) {
  .twelfths h2 {
    left: -10%;
  }
}
@media screen and (min-width: 700px) {
  .twelfths h2 {
    left: -8%;
  }
}
