:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 4rem;

  margin: 1rem;
  z-index: 2;
}

.title {
  font-family: "totalblack-variable", sans-serif;
  /* font-weight: 400; */
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 4rem;
  margin: 0;

  color: var(--font-color);
}

.headLink {
  display: flex;
  align-items: center;
}
.navInfo ul {
  display: flex;
  /* gap: 2rem; */
  gap: 1rem;
  list-style: none;
  margin: 0;
}

.navInfo ul a {
  color: rgb(50, 50, 50);
  font-size: 1.5rem;
}

ul input {
  border: none;
  /* border-bottom: 1px solid rgb(197, 197, 197); */
  background-color: transparent;
  background-image: url("../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1rem;
  color: var(--font-color);
  font-family: "totalblack-variable", sans-serif;
  font-variation-settings: "wght" 300;
}

.searchBar {
  border: 1px solid var(--font-color);
  border-radius: 25px;
  padding: 0.5rem 1rem;
}

ul input:focus {
  outline: none;
}
.menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--font-color);
  border-radius: 0.2rem;
}

.searchContainer {
  width: 100%;
  /* border: 1px solid; */
}

.listResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;
}

.searchItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 10px;
  text-align: left;
}

.searchItem img {
  width: 5rem;
}

.searchItem .linkClick {
  font-size: 1.25rem;
  border: none;
}

nav a:hover {
  color: rgb(119, 117, 117);
}

.rotate {
  animation: Open 0.25s linear forwards;
}

.close {
  animation: Close 0.25s linear forwards;
}

@keyframes Open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes Close {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media (min-width: 769px) {
  .title {
    justify-self: center;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    /* align-self: center; */
  }
}
@media (min-width: 1000px) {
  .searchContainer {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
  }

  .searchContainer input {
    font-size: 1.05rem;
  }
  .listResults {
    padding: 1rem;
    position: absolute;
    max-width: 500px;
    right: 0%;
    top: 125%;
    background-color: var(--main-bg-color);
    z-index: 2;

    box-shadow: 0px 0px 8px #ddd;
  }
}

@media (max-width: 1000px) {
  /* header {
    margin: 1rem;
  } */
  .title {
    position: absolute;
    font-size: 3rem;
    /* margin-left: 2rem; */
  }
  .menu {
    display: flex;
  }

  .open {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    top: 60px;
    /* bottom: 0; */
    width: 100%;
    /* display: block; */
    z-index: 1;
  }

  nav:nth-of-type(1) {
    position: absolute;
    top: 248px;
    z-index: 1;
  }

  .navInfo ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    backdrop-filter: blur(50px);
    /* border-radius: 10px; */
    padding: 1rem;

    /* position: absolute; */
    /* left: 0; */
  }

  .navInfo ul input {
    height: 2rem;
    font-size: 1.2rem;
  }

  /* changes nav menu item properties */
  nav a {
    text-align: right;
    /* border: 1px solid black; */
    border: 1px solid var(--main-bg-color);
  }

  .leftNav {
    /* position: relative; */
    /* bottom: 50px; */
    /* background-color: red; */
    /* top: 215px; */
    top: 295px;
    position: absolute;
  }

  .rightNav {
    /* background-color: rgb(201, 201, 201); */
  }

  .navInfo ul li,
  .navInfo ul input,
  .navInfo ul a {
    display: block;
    width: 100%;
    /* text-align: center; */
    text-align: left;
  }

  .navInfo:nth-of-type(1) {
    margin-top: -17px;
  }
  .navInfo:nth-of-type(1) ul {
    /* height: 100%; */
    padding-bottom: 15rem;
  }
}
