.product {
  width: max-content;
  /* border: 1px solid black; */
  padding: 1rem 1.5rem 1rem 0;
}

.product img {
  width: 17.5rem;
  /* width: 100%; */
  /* height: 20rem; */
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  height: 3rem;
  gap: 1rem;
}

.productInfo p {
  text-align: left;
  font-weight: bold;
  /* text-align: center; */
}

.product:hover {
  cursor: pointer;
}
