:root {
  --main-bg-color: #f9f8f3;
  --main-header-color: #064ef2;
  --second-bg-color: #e1d2f3;
  --third-bg-color: #dcfc73;
  --font-color: #231f20;
}

.sideScroll {
  overflow: hidden;
  background-color: var(--font-color);
}

.sideScroll h3 {
  padding: 1rem;
  color: var(--main-bg-color);
  animation: RightToLeft 8s infinite linear;
  text-wrap: nowrap;
  word-spacing: 0.8rem;

  margin: 0;

  word-spacing: 0.5rem;
}

.main {
  font-variation-settings: "wght" 500;
}

.sub {
  font-variation-settings: "wght" 200;
}

@keyframes RightToLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}
